:root {
    --primary-color: #11aaa6;
    --secondary-color: #fe5a00;
    --light-color: #EBEBEB;
    --dark-color: #292929;
    --white-color: #eee;
    --black-color: #111;
}
body {
    color: var(--black-color);
}
.links-container {
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    background: none;
}
.txt-color {
    color: var(--primary-color);
}
main>.container {
    padding: 60px 15px 0;
}
.make-text-bigger {
    font-size: 2em;
    color: #00A7E1;
    text-align: right;
}
.js-color {
    color: #efd81d;
}
.bs-color {
    color: #8612fb;
}
.my-bold {
    font-weight: bold;
    color: var(--primary-color);
}
.html-color {
    color: #e54c21;
}
.css-color {
    color: #264de4;
}
footer i:hover {
    opacity: 0.6;
}